<!DOCTYPE html>
<html lang = "ja">

<head>
	<meta charset="UTF-8">
	<title>過去資料</title>
	<link rel = "manifest" href = "./manifest.json">
	<link rel = "stylesheet" href = "style.css">
	<link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap">


    <script src = "https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"
		integrity = "sha512-r
		KFvwjvE4liWPlFnvH4ZhRDfNZ9FOpdkD/BU5gAIA3VS3vOQrQ5BjKgbO3kxebKhHdHcNUHLqxQYSoxee9UwgA=="
        crossorigin = "anonymous">
    </script>
    
</head>
<!-------------------------------------------------------------------------------------->

<body>

	<header>

		<p class = "site-header">
			<img src = "images/ロゴ_統合2.png" alt = "チームロゴ" width = "244" height = "37"/>
		</p>

		<ul class = "tabs">
            <li><span class = "tabsSpace"><a class = "tabsColor" href = "index.html">ホーム</a></span></li>
            <li><span class = "tabsSpace"><a class = "tabsColor" href = "toujitsu.html">当日資料</a></span></li>
            <li><span class = "tabsSpace"><a class = "tabsColor" href = "siryou20.html">20資料</a></span></li>
            <li><span class = "tabsSpace"></span><b>過去資料</b></span></li>
        </ul>
        
        
		<div class = "humburgerMenu">
			<input type = "checkbox" id = "menuCheck" class = "menuHidden" >
			<label for = "menuCheck" class= "menuOpen"><span></span></label>

			<nav class="humburgerContent">
				<ul class="menuList">
				  <li><a href="index.html">ホーム</a></li>
				  <li><a href="toujitsu.html">当日資料</a></li>
				  <li><a href="siryou20.html">20資料</a></li>
				  <li><a href=""><b>過去資料</b></a></li>
				</ul>
			  </nav>
        </div>
        
    </header>
    
    <div class = "title"><br/><br/>過去資料<br/></div>


<!-------------------------------------------------------------------------------------->


	<section class = "hero is-fullheight is-default is-bold"> <!--sectionはまとまりを示すタグ-->
    	<div id = "app">
            <div class = "hero-head">
                <nav class="navbar"> <!--navはナビゲーションリンクを示すタグ -->

                    <div class = "container">
                        <div class = "navbar-brand">
                            <a class = "navbar-item" href="../">
                                <i style="color: slategrey" aria-hidden="true" class="fa fa-th fa-rotate-90"></i>
                            </a>

                            <span class="navbar-burger burger" data-target="navbarMenu"
                                @click="isMenuOpen = !isMenuOpen" v-bind:class="{'is-active': isMenuOpen}"><!--spanはインライン要素でグループ化するタグ-->
                        	</span>
                        </div>
                        <div id = "navbarMenu" class = "navbar-menu" v-bind:class = "{'is-active': isMenuOpen}"> <!--isMenuOpenなときにis-activeというクラス名に変わる -->
                            <div class = "navbar-end">
                                <span class = "navbar-item">
                                    <a class = "button is-outlined">
                                        <span class = "icon">
                                            <i class = "fa fa-upload" aria-hidden = "true"></i>
                                        </span>
                                    </a>
                                </span>
                                <span class = "navbar-item" v-if = "isHttpReq" v-for = "csvBtn in csvPathList">
                                    <a class = "button is-outlined">
                                        <span class = "icon">
                                            <i class = "fa fa-th fa-rotate-90" aria-hidden = "true"></i>
                                        </span>
                                        <span>{{csvBtn.btnName}}</span>
                                        <input style = "cursor: hand" class = "file-input  @click = "RequestCsvPath(csvBtn.csvPath)">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>



            <div style="padding: 20px;" class="container has-text-centered" v-if="csvCols.length > 0">
                <div class="field is-grouped">
                    <p class="control">
                        <span class="select">
                            <select v-model="selectedCol">
                                <option v-for="col in csvCols">{{col}}</option>
                            </select>
                        </span>
                    </p>
                    <p class="control is-expanded">
                        <input v-model="searchKeyword" @keydown.enter="SearchBoxEnterkey"
                            placeholder="左で列を設定して検索するキーワードを入力してください" class="input" type="text">
                    </p>
                    <p class="control">
                        <a class="button is-info" @click="ColSearch">
                            Search
                        </a>
                    </p>
                </div>               
            </div>


            <div class="hero-body"> 
            <div style="padding: 0 20px 0 20px;">
                <div class="control has-text-right">
                    <label v-if="csvData.length > 0">
                        {{csvData.length}} 件
                    </label>
                </div>

                <div class="container table-container has-text-centered">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th v-for="col in csvCols"> {{col}} </th>
                            </tr>
                        </thead>
                        <tbody v-for="row in csvData">
                            <tr>
                                <td v-for="(col, index) in csvCols">{{row[index]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>




    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        let vueApp = new Vue({
            el: '#app',
            data: {
                isMenuOpen: false,
                isHttpReq: false,
                csvTitle: null,
                csvCols: [],
                csvData: [],
                allCsvData: [],
                selectedCol: null,
                searchKeyword: null,
                numSearchMode: false,
                numSearchCondition: 'eq',
                numSearchParams: ['eq', 'gt', 'le'],
                searchNumMode: false,
                csvPathList: [
                    { btnName: 'data1', csvPath: 'c01.csv' }
                ]
            },

            methods: {
                OpenDialog: function (csvEv) {
                    let file = csvEv.target.files[0];
                    this.csvTitle = file.name;
                    let reader = new FileReader();
                    let vueThis = this;
                    reader.onload = function (inputCsv) {
                        const res = inputCsv.target.result;
                        vueThis.ConvertCsv(res);
                    }
                    reader.readAsText(file, "Shift_JIS");
                },
                RequestCsvPath: function (csvPath) {
                    const vueThis = this;
                    new Promise((resolve, reject) => {
                        var httpReq = new XMLHttpRequest(); // HTTPでファイルを読み込むためのXMLHttpRrequestオブジェクトを生成、サーバと非同期通信するためのAPI
                        httpReq.open("get", csvPath, true); // アクセスするファイルを指定
                        httpReq.overrideMimeType('text/plain; charset=Shift_JIS');
                        httpReq.onload = () => {
                            vueThis.csvTitle = csvPath;
                            resolve(vueThis.ConvertCsv(httpReq.responseText));
                        };
                        httpReq.onerror = () => {
                            reject(new Error(httpReq.statusText));
                        };
                        httpReq.send(null); // HTTPリクエストの発行
                    });
			   
					

                },
                ConvertCsv: function (csvData) {
                    const vueThis = this;
                    Papa.parse(csvData, {
                        complete: function (results) {
                            vueThis.csvCols = results.data[0];
                            vueThis.selectedCol = vueThis.csvCols[0];
                            vueThis.csvData = results.data.slice(1);
                            vueThis.allCsvData = results.data.slice(1);
                            // console.log(results);
                        }
                    });
				},
				
                ColSearch: function () {
                    if (!this.selectedCol) { return }
                    if (this.searchKeyword == '') {
                        this.csvData = this.allCsvData;
                        return;
                    }
                    if (this.numSearchMode) {
                        this.SearchNum();
                    } else {
                        this.SearchWord();
                    }
                },

                SearchWord: function () {
                    const vueThis = this;
                    const colIndex = vueThis.csvCols.indexOf(vueThis.selectedCol);
                    this.csvData = this.allCsvData.filter(function (item, index) {
                        if (!item[colIndex]) {
                            return false;
                        }
                        if (item[colIndex].includes(vueThis.searchKeyword)) {
                            return true;
                        }
                    });
                    console.log(this.csvData);
                },
                SearchNum: function () {
                    const vueThis = this;
                    const colIndex = vueThis.csvCols.indexOf(vueThis.selectedCol);
                    this.csvData = this.allCsvData.filter(function (item, index) {
                        if (!item[colIndex]) { return false; }

                        const targetWord = item[colIndex].replace(/['"]+/g, '');
                        console.log(targetWord);
                        switch (vueThis.numSearchCondition) {
                            case vueThis.numSearchParams[0]: //eq
                                if (targetWord == vueThis.searchKeyword) {
                                    return true;
                                }
                                break;
                            case vueThis.numSearchParams[1]: //gt
                                if (targetWord >= vueThis.searchKeyword) {
                                    return true;
                                }
                                break;
                            case vueThis.numSearchParams[2]: //le
                                if (targetWord <= vueThis.searchKeyword) {
                                    return true;
                                }
                                break;
                            default:
                                return false;
                        }
                    });
                    console.log(this.csvData);
                },

                SearchBoxEnterkey: function (event) {
                    // 日本語入力中のEnterキー操作は無効にする
                    if (event.keyCode !== 13) { return }
                    this.ColSearch();
                }
            },

            mounted: function () {
                if (location.href.indexOf('file') != -1) {
                    this.isHttpReq = false;
                    setTimeout(function () {
                        alert('ローカルの場合はImportボタンからCSVを開いてください');
                    }.bind(this), 500);
                    return
                } else {
                    this.isHttpReq = true;
                }
                if (this.csvPathList) {
                    this.RequestCsvPath(this.csvPathList[0].csvPath);
                }
            }

        })

    </script>
	
	
</body>