<!DOCTYPE html>
<html lang = "ja">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<head>
    <meta charset="UTF-8">
    <title>過去資料</title>
    <link rel = "manifest" href = "./manifest.json">
    <link rel = "stylesheet" href = "style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"
        integrity="sha512-rKFvwjvE4liWPlFnvH4ZhRDfNZ9FOpdkD/BU5gAIA3VS3vOQrQ5BjKgbO3kxebKhHdHcNUHLqxQYSoxee9UwgA=="
        crossorigin="anonymous"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>




<body>

    <header>

		<p class = "site-header">
			<img src = "images/ロゴ_統合2.png" alt = "チームロゴ" width = "244" height = "37"/>
		</p>

		<ul class = "tabs">
            <li><span class = "tabsSpace"><a class = "tabsColor" href = "index.html">ホーム</a></span></li>
            <li><span class = "tabsSpace"><a class = "tabsColor" href = "toujitsu.html">当日資料</a></span></li>
            <li><span class = "tabsSpace"><a class = "tabsColor" href = "siryou20.html">20資料</a></span></li>
            <li><span class = "tabsSpace"></span><b>過去資料</b></span></li>
        </ul>
        
        
		<div class = "humburgerMenu">
			<input type = "checkbox" id = "menuCheck" class = "menuHidden" >
			<label for = "menuCheck" class= "menuOpen"><span></span></label>

			<nav class="humburgerContent">
				<ul class="menuList">
				  <li><a href="index.html">ホーム</a></li>
				  <li><a href="toujitsu.html">当日資料</a></li>
				  <li><a href="siryou20.html">20資料</a></li>
				  <li><a href=""><b>過去資料</b></a></li>
				</ul>
			  </nav>
        </div>
        
    </header>

    <div class = "imaara">
		<img src = "images/IMAARA.png" alt = "20ロゴ" width = "100" height = "100"/>
	</div>
    
    <div class = "title">過去資料<br/></div>


<!-------------------------------------------------------------------------------------->
<!--ここから先過去資料検索機能-->
    <section class = "top">
        <div id = "app">

<!-------------------------------------------------------------------------------------->
<!--ここから先セレクトメニュー・検索ボックス-->
            <div style = "padding: 20px;" class = "kensakuBox" v-if = "csvCols.length > 0">

                <div class = "kensakuAll">

                    <p class = "selectMenu">
                        <span class = "erabu1">
                            <select class = "erabu" v-model = "selectedCol1">
                                <option v-for = "col in csvCols">{{col}}</option>
                            </select>
                        </span>
                    </p>
                    <p class = "serchBox">
                        <input  class = "nyuryoku" v-model = "searchKeyword1" @keydown.enter = "SearchBoxEnterkey"
                            placeholder = "キーワードを入力"  type = "text" >
                    </p>

                    <p class = "selectMenu2">
                        <span class = "erabu2">
                            <select class = "erabu" v-model = "selectedCol2">
                                <option v-for="col in csvCols">{{col}}</option>
                            </select>
                        </span>
                    </p>
                    <p class="serchBox2">
                        <input class = "nyuryoku" input v-model = "searchKeyword2" @keydown.enter = "SearchBoxEnterkey"
                            placeholder = "キーワードを入力" type = "text">
                    </p> 

                    <p class = "selectMenu3">
                        <span class = "erabu3">
                            <select class = "erabu" v-model = "selectedCol3">
                                <option v-for="col in csvCols">{{col}}</option>
                            </select>
                        </span>
                    </p>
                    <p class="serchBox3">
                        <input class = "nyuryoku" v-model = "searchKeyword3" @keydown.enter = "SearchBoxEnterkey"
                            placeholder = "キーワードを入力" type = "text">
                    </p> 

<!-------------------------------------------------------------------------------------->
<!--ここから先検索ボタン-->
                    <button type = "button" class = "kensakuBtn">
                        <a @click = "kensaku">
                            検 索
                        </a>
                    </button>

                </div>
            </div>

<!-------------------------------------------------------------------------------------->
<!--ここから先検索結果-->
            <div style = "padding: 0 20px 0 20px;"> <!--検索結果の表-->
                <div class = "hitsu">
                    <label v-if = "csvData.length > 0">
                        検索結果 : {{csvData.length}}件
                    </label>
                </div>

                <div class = "kekkaTable" >
                    <table class = "kekkaTable" id = "kekkaTable">
                        <thead> <!--表のヘッダ行-->
                            <tr>
                                <th class = "toprow" v-for = "col in csvCols"> {{col}} </th>
                            </tr>
                        </thead>

                        <tbody v-for = "row in csvData">
                            <tr>
                                <td v-for = "(col, index) in csvCols">{{row[index]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div> <!--全体締め-->
    </section>




    <footer id = 'site-footer' class = 'site-footer'>
		<table class = 'underTabs'>
			<tr>
				<th class = "underTabsSpace"><a href="index.html"><img src = tabs\ホーム.png width = '50' height = auto></a></div>
				<th class = "underTabsSpace"><a href="toujitsu.html"><img src = tabs\QR.png width = '50' height = auto></a></div>
				<th class = "underTabsSpace"><a href="siryou20.html"><img src = tabs\20ロゴ.png width = '50' height = auto></a></div>
				<th class = "underTabsSpaceNow"><a href="siryouKako.html"><img src = tabs\19ロゴ.png width = '50' height = auto></a></div>
			</tr>
		</table>
	</footer>

<!-------------------------------------------------------------------------------------->

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src = "https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type = "text/javascript" src = "kensaku.js"></script>
</body>

</html>
